/* cabin-regular - latin */
@font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Cabin";
        font-style: normal;
        font-weight: 400;
        src: url("../vendor/fonts/cabin-v26-latin-regular.woff2") format("woff2"),
                /* Chrome 36+, Opera 23+, Firefox 39+ */
                url("../vendor/fonts/cabin-v26-latin-regular.woff") format("woff");
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cabin-italic - latin */
@font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Cabin";
        font-style: italic;
        font-weight: 400;
        src: url("../vendor/fonts/cabin-v26-latin-italic.woff2") format("woff2"),
                /* Chrome 36+, Opera 23+, Firefox 39+ */
                url("../vendor/fonts/cabin-v26-latin-italic.woff") format("woff");
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cabin-500 - latin */
@font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Cabin";
        font-style: normal;
        font-weight: 500;
        src: url("../vendor/fonts/cabin-v26-latin-500.woff2") format("woff2"),
                /* Chrome 36+, Opera 23+, Firefox 39+ */
                url("../vendor/fonts/cabin-v26-latin-500.woff") format("woff");
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cabin-500italic - latin */
@font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Cabin";
        font-style: italic;
        font-weight: 500;
        src: url("../vendor/fonts/cabin-v26-latin-500italic.woff2") format("woff2"),
                /* Chrome 36+, Opera 23+, Firefox 39+ */
                url("../vendor/fonts/cabin-v26-latin-500italic.woff") format("woff");
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cabin-600 - latin */
@font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Cabin";
        font-style: normal;
        font-weight: 600;
        src: url("../vendor/fonts/cabin-v26-latin-600.woff2") format("woff2"),
                /* Chrome 36+, Opera 23+, Firefox 39+ */
                url("../vendor/fonts/cabin-v26-latin-600.woff") format("woff");
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cabin-600italic - latin */
@font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Cabin";
        font-style: italic;
        font-weight: 600;
        src: url("../vendor/fonts/cabin-v26-latin-600italic.woff2") format("woff2"),
                /* Chrome 36+, Opera 23+, Firefox 39+ */
                url("../vendor/fonts/cabin-v26-latin-600italic.woff") format("woff");
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}